@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Parametrising by styleguide. */
:root {
    /* Size. */
    --desktop-max-width: 1140px;
    /* Primaries. */
    --color-primary-400: #080808;
    --color-primary-300: #0D0D0D;
    --color-primary-200: #737373;
    --color-primary-100: #E7E7E7;
    /* Secondaries. */
    --color-secondary-300: #017373;
    --color-secondary-200: #048C80;
    --color-secondary-100: #AAD9D1;
    /* Others. */
    --color-accent-100: #F2E7DC;
    --color-gray: #BABABA;
    --bg-gradient: linear-gradient(234.07deg, var(--color-secondary-100) 0%, var(--color-secondary-300) 125.68%);

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 106%;
    letter-spacing: -0.01em;
    width: 670px;
    font-size: 59px;
}

p {
    margin: 0;
    font-size: 16px;
    color: var(--color-gray);
    line-height: 150%;
}

strong {
    background-image: var(--bg-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

a {
    color: inherit;
}

a:hover {
    background-image: var(--bg-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

input {
    background-color: #EFECE6;
    border: none;
}

input:focus {
    outline: none !important;
}

ul {
    /*Remove markers in lists.*/
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: var(--color-primary-400);
    color: #EFECE6;
}

/*Reusable Style Classes*/
.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

    .notes-icon {
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        background-image: var(--bg-gradient);
    }

    :hover {
        cursor: pointer;
    }
}

.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 33px;
    position: relative;

    .slider {
        /* The track */
        position: absolute;
        cursor: pointer;
        background-color: var(--color-gray);
        padding: 6px;

        border: 1px solid var(--color-secondary-200);
        border-radius: 24px;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s;
    }

    input {
        /* Hide default checkbox */
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked + .slider {
        /* Toggled state */
        background-image: var(--bg-gradient);
    }

    input:checked + .slider::before {
        /* Toggled state */
        transform: translateX(34px);
    }
}

/* The circle-slider */
.slider::before {
    display: flex;
    content: "";
    position: absolute;
    height: 21px;
    width: 19px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.base-button {
    border: none;
    background-color: #EFECE6;
}

.green-button {
    background-image: var(--bg-gradient);
}

.base-button:hover, .base-button:focus {
    cursor: pointer;
    opacity: 0.9;
    outline: 0;
}

.button:active {
    box-shadow: none;
    margin-top: 6px;
}

.base-input-container {
    /*Use for input container shape*/
    border-radius: 8px;
    background-color: #EFECE6;
}

.section-text-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;
    padding-left: 232px;
    padding-right: 232px;

    text-align: center;

    h2 {
        font-size: 48px;
        line-height: 120%;
    }

    p {
        max-width: 410px;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
}

/*Base Classes*/
#header {
    display: flex;
    justify-content: center;

    /* Bottom green border  */
    border-bottom: 0.5px solid var(--color-secondary-200);

    a {
        text-decoration: none;
    }

    .header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        max-width: var(--desktop-max-width);
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 56px;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
    }

    .get-started {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 16px 24px;
        border-radius: 8px;


        font-size: 16px;
        line-height: 150%;
    }
}

/* Classes here to reuse in 2 different sections. */
#hero, #cta {
    display: flex;
    justify-content: center;


    .hero-section__inner, .cta-section__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;

        padding: 128px 152px 128px 0;
        gap: 100px;

        max-width: var(--desktop-max-width);
        width: 100%;

        .hero-subcontainer, .cta-subcontainer {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .pre-signup-text {
                display: flex;
                flex-direction: column;
                gap: 16px;

                font-size: 16px;
                line-height: 150%;

                .text-wrapper {
                    color: var(--color-gray);
                }
            }

            .signup-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 6px 6px 6px 24px;

                gap: 48px;
                width: 434px;

                .signup-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                }

                .button-default {
                    padding: 16px 24px;
                }

                .button-long {
                    padding: 16px 40px;
                }

                .signup-text-bold {
                    font-weight: bold;
                    line-height: 20px;
                }
            }

            #bottom-signup {
                padding: 0;
            }
        }
    }
}

#logos-spinner {
    position: relative;

    .logos-section__inner {
        display: flex;
        flex-direction: row;
        gap: 33px;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        height: 112px;

        .spin-logo {
            display: flex;
            height: 48px;
        }
    }

    .gradient-cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

/* Class here to reuse in five different quotes. */
.testimonial {
    .testimonial-section__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 64px 484px;

        .quote-logo {
            display: flex;
            align-items: flex-start;
        }

        .quote-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 472px;
                line-height: 140%;
                letter-spacing: -0.01em;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }

            .quote-author {
                display: flex;
                flex-direction: row;
                gap: 16px;

                padding-top: 32px;
                line-height: 150%;
                font-size: 16px;

                .quote-author__company {
                    color: var(--color-primary-200);
                    background-blend-mode: normal;
                }
            }
        }
    }
}

#video {
    /* Shapes */
    position: relative;

    .video-background-shape {
        position: absolute;
        opacity: 0.7;
        filter: blur(46px);
    }

    .video-top-shape {
        width: 425px;
        left: 0;
        top: -125px;
    }

    .video-bottom-shape {
        transform: rotate(45.54deg);
        width: 345px;
        height: 345px;
        right: -135px;
        bottom: 145px;
    }

    /* Content */

    .video-section__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 165px 64px;

        .video-container {
            position: relative;
            max-width: 1110px;
            width: 100%;
            aspect-ratio: 16 / 9;

            video {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
            }

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: transparent;
                border: none;
                cursor: pointer;
                /* Button on the foreground. */
                z-index: 10;

                img {
                    width: 144px;
                    height: 144px;
                }

                /*For mobiles and tablets.*/
                @media (max-width: 768px) {
                    img {
                        width: 66px;
                        height: 66px;
                    }
                }
            }
        }
    }
}

#features {
    position: relative;

    .features-section__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 70px 144px;
        gap: 88px;

        .features-cards {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);
            justify-content: space-between;
            gap: 20px;

            max-width: 1152px;

            .cross-platform-card {
                grid-row: 1;
                grid-column: 1 / span 2;
            }

            .custom-template-card {
                grid-row: 1;
                grid-column: 3 / span 4;
            }

            .feature-card {
                display: flex;
                flex-direction: column;
                gap: 24px;

                padding: 32px;
                border-radius: 12px;
                border: 0.5px solid var(--color-secondary-200);

                max-width: 561px;
                min-width: 269px;

                .feature-icon {
                    display: flex;
                    width: 32px;
                    height: 32px;
                }

                .feature-content {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    gap: 16px;

                    h4 {
                        font-size: 20px;
                        line-height: 150%;
                    }
                }
            }
        }
    }

    .features-background-shape {
        position: absolute;
        top: calc(50% - 148px / 2 + 119px);
        left: 574px;
        width: 136px;
        height: 148px;
        filter: blur(82px);
    }
}

#pricing {
    .pricing-section__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 96px 144px;
        gap: 40px;
    }

    .monthly-plan, .yearly-plan {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pricing-plan-toggle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 14px;

        font-size: 18px;
        font-weight: 400;
        line-height: 150%;

        .toggle-plan {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sale-tag {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            padding: 8px 16px;

            width: 94px;
            height: 26px;
            border-radius: 40px;;
            background-image: var(--bg-gradient);

            color: var(--color-primary-400);
            font-size: 14px;
            text-align: center
        }
    }


    .pricing-plan-cards {
        /* Cards */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 30px;

        .pricing-plan-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;
            padding: 40px 32px;
            width: 358px;
            /*height: 433px;*/

            border: 1px solid var(--color-secondary-200);
            border-radius: 10px;

            .card-header {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                }

                h3 {
                    display: flex;
                    align-items: center;
                    color: var(--color-secondary-200);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }

            .card-price {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: end;

                .cost {
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 120%;
                }

                .period {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
            }

            .card-checklist {
                display: flex;
                flex-direction: column;

                ul {
                    padding-left: 25px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }

                li {
                    list-style-image: url(../img/pricing/checkbox-mark.svg);
                }

                li:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            .card-confirm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .confirm-button-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;

                    .card-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        width: 100%;
                        height: 59px;
                        gap: 8px;

                        border: 1px solid var(--color-secondary-200);
                        border-radius: 8px;

                        font-size: 18px;
                    }
                }

                .no-card-info {
                    display: flex;
                    padding-top: 8px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: var(--color-primary-200);
                    mix-blend-mode: normal;
                    opacity: 0.7;
                }

            }
        }

        .white {
            background-color: #F7F7F7;
            color: var(--color-primary-400);
            font-size: 16px;
        }

        .black {
            .card-checklist ul {
                color: var(--color-gray)
            }
        }
    }
}

#integrations {
    display: flex;
    justify-content: center;
    background-color: white;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .integrations-section__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 120px 0 84px;

        row-gap: 64px;
        column-gap: 40px;

        max-width: var(--desktop-max-width);
        width: 100%;

        .integrations-heading {
            display: flex;
            justify-content: space-between;

            .title-block {
                display: flex;
                flex-direction: column;

                .caption {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .caption-text {
                        padding: 4px;
                        color: #454F5F;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }

                h2 {
                    margin-top: 8px;
                    color: #3E376C;
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: -0.02em;
                }

                p {
                    margin-top: 24px;
                    color: #454F5F;
                    width: 508px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .view-all {
                display: flex;
                align-self: flex-end;
                max-height: 44px;

                .view-all-button {
                    display: flex;
                    flex-direction: row;
                    padding: 12px 24px;
                    width: 100%;
                    gap: 8px;

                    border: none;
                    background: none;

                    color: #5D53A2;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                }

                :hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .apps-wrapper {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            row-gap: 64px;
            column-gap: 40px;

            h3 {
                color: #454F5F;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }

            p {
                color: #454F5F;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            .app-card {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, auto);
                justify-content: space-between;
                row-gap: 16px;
                column-gap: 24px;

                max-width: 510px;
                width: 100%;

                .app-logo {
                    grid-row: 1 / span 2;
                    grid-column: 1;
                }

                .connect-app {
                    display: flex;

                    .connect-app-button {
                        display: flex;
                        gap: 4px;
                        border-radius: 16px;
                        padding: 8px 16px;


                    }

                    :hover {
                        background-color: #3E376C;
                        color: white;
                        fill: white;
                        stroke: white;
                    }
                }
            }
        }
    }
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Bottom green border  */
    border-top: 0.5px solid var(--color-secondary-200);

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: var(--desktop-max-width);
        width: 100%;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 80px 0 88px;
        gap: 100px;

        .mail-us-subcontainer {
            display: flex;
            flex-direction: column;

            align-items: flex-start;
            justify-content: space-between;

            .mail-us-subcontainer__logo {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            .mail-us-subcontainer__email {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 8px 16px;

                .signup-icon {
                    display: flex;

                    :hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .link-subcontainer {
            display: flex;
            flex-direction: row;
            gap: 122px;
            line-height: 150%;

            .link-list {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .link-list__heading {
                font-size: 18px;
                font-weight: bold;
            }

            .link-list__list {
                .link-list__item {
                    font-size: 16px;
                    color: var(--color-gray);
                    margin-bottom: 5px;

                    a {
                        text-decoration: none;
                    }
                }
            }

        }
    }

    .foot-color-wrapper {
        display: flex;
        justify-content: center;
        background-color: var(--color-secondary-200);

        .bottom-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: var(--desktop-max-width);
            width: 100%;

            padding: 18px 0;

            .socials {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .copyright {
                    font-size: 14px;
                }

                .social-icon {
                    display: flex;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    padding: 10px;
                    background-color: var(--color-secondary-300);
                }

                :hover {
                    cursor: pointer;
                    background-image: var(--bg-gradient);
                }
            }
        }
    }


}
