@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 106%;
    letter-spacing: -1px;
    font-size: 59px;
}

p {
    margin: 0;
}

strong {
    background-image: linear-gradient(238deg, #AAD9D1 0%, #017373 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

a {
    color: inherit;
}

a:hover {
    background-image: linear-gradient(238deg, #AAD9D1 0%, #017373 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

input {
    background-color: #EFECE6;
    border: none;
}

input:focus {
    outline: none !important;
}

ul {
    /*Remove markers in lists.*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #080808;
    color: #EFECE6;
}

/*Reusable Style Classes*/
.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

    .notes-icon {
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        background-image: linear-gradient(238deg, #AAD9D1 0%, #017373 100%);
    }
}

.base-button {
    border: none;
    background-image: linear-gradient(238deg, #AAD9D1 0%, #017373 100%);
}

.base-button:hover,
.base-button:focus {
    cursor: pointer;
    opacity: 0.9;
    outline: 0;
}

.button:active {
    box-shadow: none;
    margin-top: 6px;
}

.base-input-container {
    /*Use for input container shape*/
    border-radius: 8px;
    background-color: #EFECE6;
}

/*Base Classes*/
#header {
    a {
        text-decoration: none;
    }

    .header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 96px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 56px;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
    }

    .get-started {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 16px 24px;
        border-radius: 8px;


        font-size: 16px;
        line-height: 150%;
    }
}

#hero {
    .hero-section__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 128px 188px 128px 152px;
        gap: 100px;

        .hero-subcontainer {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .hero-text {
                display: flex;
                flex-direction: column;
                gap: 16px;

                font-size: 16px;
                line-height: 150%;

                .text-wrapper {
                    color: #BABABA;
                }
            }

            .signup-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                padding: 6px 6px 6px 24px;
                gap: 48px;
                width: 434px;

                .signup-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    padding: 16px 24px;
                    border-radius: 8px;
                    background-color: #EFECE6;
                }
            }
        }
    }
}

#logos-spinner {
    position: relative;

    .logos-section__inner {
        display: flex;
        flex-direction: row;
        gap: 33px;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        height: 112px;

        .spin-logo {
            display: flex;
            height: 48px;
        }
    }

    .gradient-cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

#footer {
    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #080808;
        padding: 80px 160px 88px 144px;
        gap: 100px;

        .mail-us-subcontainer {
            display: flex;
            flex-direction: column;

            align-items: flex-start;
            justify-content: space-between;

            .mail-us-subcontainer__logo {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            .mail-us-subcontainer__email {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: space-between;
                align-items: center;

                height: 48px;
                width: 290px;
                padding: 8px 16px;

                .email-icon {
                    display: flex;

                    :hover {
                        cursor: pointer;
                    }
                }
            }
        }


        .link-subcontainer {
            display: flex;
            flex-direction: row;
            gap: 122px;
            line-height: 150%;

            .link-list {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .link-list__heading {
                font-size: 18px;
                font-weight: bold;
            }

            .link-list__list {
                .link-list__item {
                    font-size: 16px;
                    color: #BABABA;
                    margin-bottom: 5px;

                    a {
                        text-decoration: none;
                    }
                }
            }

        }
    }

    .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #048C80;
        padding: 18px 160px 18px 144px;

        .socials {
            display: flex;
            flex-direction: row;
            gap: 10px;


            .copyright {
                font-size: 14px;
            }

            .social-icon {
                display: flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                padding: 10px;
                background-color: #017373;
            }

            :hover {
                cursor: pointer;
                background-image: linear-gradient(25deg, #AAD9D1 0%, #017373 55%);
            }
        }
    }
}
